body{
    margin: 0;
    padding: 0;
    background: #333;
}

h5{
    color: #fff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area{
    display: flex;
    position: relative;
    width: 700px;
    margin-left: 20%;
}

.area img{
    border: 8px solid #fff;
    box-shadow: 0 5px 5px 2px rgba(255,255,255,.2);
    height: 500px;
}

.face{
    position: absolute;
    border: 2px solid rgb(0, 255, 0);
}